body {
    background-image: url(../img/sandJelly.jpeg);
}
header{
    background-color: aquamarine;
    color: black;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
h1{
    font-size: 24px;
    font-family: fantasy;
    color: red;
}
h1:hover{
    background-color: indigo;
}
main{
    font-size: 18px;
    color: rgb(11, 11, 11);
}
#carlosProfile{
    display: inline-block;
    width: 16em;
    margin: 1.4em;
    border-radius: 4px;
    background-color:rgb(228, 220, 220);
    padding: 2.4em;
    transition-property: background, border-radius;
    transition-duration: .2s, 1s;
    transition-timing-function: linear;
}
#carlosProfile:hover{
    border-radius: 24%;
}
section.profile{
    text-align: center;    
    width : 536px;
    padding-left : 20px;
    padding-right : 20px;
    margin : 200px auto 0 auto;
    position : relative;
    z-index : 6; 
}
ol{
    list-style-position: outside;
    list-style-type: decimal;
}
ul{
    list-style-position: outside;
    list-style-type: square;
}
li{
    margin-left: 12px;
}
footer{
    background-image: url(../img/Sam1.jpg);
    padding: 200px;
    font-size: 20px;
    color: white;
}
/*clock start*/
.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 2em;
}
#clock {
    position: relative;
    width: 377px;
    height: 377px;
    background-image: url('../img/clockFace.png');
  }
  
#clock div {
    position: absolute;
}
#clock img[src*='second'] {
    -webkit-transition: -webkit-transform 600000s linear;
    -moz-transition: -moz-transform 600000s linear;
    -o-transition: -o-transform 600000s linear;
    -ms-transition: -ms-transform 600000s linear;
    transition: transform 600000s linear;
}

#clock:target img[src*='second'] {
    -webkit-transform: rotate(3600000deg);
    -moz-transform: rotate(3600000deg);
    -o-transform: rotate(3600000deg);
    -ms-transform: rotate(3600000deg);
    transform: rotate(3600000deg);
}

#clock img[src*='minute'] {
    -webkit-transition: -webkit-transform 360000s linear;
    -moz-transition: -moz-transform 360000s linear;
    -o-transition: -o-transform 360000s linear;
    -ms-transition: -ms-transform 360000s linear;
    transition: transform 360000s linear;
}

#clock:target img[src*='minute'] {
    -webkit-transform: rotate(36000deg);
    -moz-transform: rotate(36000deg);
    -o-transform: rotate(36000deg);
    -ms-transform: rotate(36000deg);
    transform: rotate(36000deg);
}

#clock img[src*='hour'] {
    -webkit-transition: -webkit-transform 216000s linear;
    -moz-transition: -moz-transform 216000s linear;
    -o-transition: -o-transform 216000s linear;
    -ms-transition: -ms-transform 216000s linear;
    transition: transform 216000s linear;
}

#clock:target img[src*='hour'] {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*end of clock*/

